
Django>=4.0 # Use latest stable Django version 
django-cms>=3.12 # Choose a compatible CMS version
absl-py==1.1.0
attrs==21.4.0
avro==1.11.1
cachetools==5.2.0
certifi==2023.3.6
charset-normalizer==2.1.1
cloud-metadata==0.36.1
defusedxml==0.7.1
dill==0.3.5
easydict==1.10.0
fastapi==0.89.0
gast==0.4.0
grpcio==1.49.0
h5py==3.8.2
heapdict==1.0.1
httptools==0.20.2
idna==3.5
importlib-metadata==4.12.1
iniconfig==1.1.1
joblib==1.2.0
jsonpatch==2.1.0
jsonschema==4.6.0
keras-preprocessing==1.1.2
Markdown==3.4.1
networkx==2.8.5
numpy==1.23.4
oauthlib==3.2.2
opt-einsum==3.3.0
orjson==3.8.5
pandas==1.5.2
paramiko==2.11.0
protobuf==3.21.6
psycopg2==2.9.3
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
requirements-parser==1.4.2
requests==2.28.1
scikit-learn==1.1.3
segmentation-models==2.4.1
shapely==1.8.7
six==1.16.0
smartfields==2.0.0
sqlparse==0.4.3
tensorflow-cpu==2.6.0
tensorflow-estimator==2.6.0
tensorflow-hub==0.15.0
termcolor==2.0.1
tqdm==4.64.1
typing-extensions==4.3.0
ujson==5.4.0
uritemplate==4.1.1
urllib3==1.26.13
vectorize==0.1.3
visdom==0.1.15.12
wcwidth==0.2.5
werkzeug==2.2.2
wrapt==1.14.1
xmltodict==0.13.0
zipp==3.11.0
# ... any other libraries you'll need (e.g. for image handling, forms, etc.)